<!DOCTYPE html>
<html lang="en">
{% raw %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script type="text/javascript" src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/view-design@4.7.0/dist/styles/iview.css">
<script type="text/javascript" src="https://unpkg.com/view-design@4.7.0/dist/iview.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body>
    <div id="comment" style="text-align: center;">
        <layout style="background: #fff;">
            <card style="width: 500px;height: 400px;margin: 4% 30%;">
                <divider>
                    <icon type="ios-star" color="#ffa20c" size="22"></icon>
                    发表评价
                    <icon type="ios-star" color="#ffa20c" size="22"></icon>
                </divider>
                <i-form ref="formValidate" :model="formValidate" :rules="ruleValidate" label-width="60"
                    style="margin-top: 30px;">
                    <form-item prop="comment" label="评价">
                        <i-input v-model="formValidate.comment" type="textarea" :autosize="{minRows: 4,maxRows: 4}"
                            placeholder="在我们网站的使用感受如何，描述一下吧！">
                        </i-input>
                    </form-item>
                    <form-item label="评分" prop="valueHalf">
                        <rate  show-text allow-half v-model="formValidate.star">
                        </rate>
                    </form-item>
                    <br /><br /><br />
                    <form-item>
                        <i-button style="width: 140px;" size="large" type="primary"
                            @click="handleSubmit('formValidate')">提交评价
                        </i-button>
                        <i-button style="width: 140px;margin-left: 60px;" size="large" type="primary"
                            @click="handleReset('formValidate')" style="margin-left: 8px">重新评价
                        </i-button>
                    </form-item>
                </i-form>
            </card>
        </layout>
    </div>
    <script>
        new Vue({
            el: '#comment',
            data() {
                return {
                    DATA: {}, //用户数据
                    formValidate: {
                        user: 'remub',
                        comment: '',
                        star: 5,
                    },
                    ruleValidate: {
                        long: [{
                            required: true,
                            message: '尽情发表你们的感受和评价噢！',
                            trigger: 'blur'
                        }, {
                            type: 'string',
                            min: 3,
                            message: '评价不能少于3个字哟',
                            trigger: 'blur'
                        }],
                        star: [{
                            required: true,
                            message: '请选择满意度',
                            trigger: 'change',
                            type: 'number',
                            min: 0.5
                        }]
                    }
                }
            },
            mounted: function () {
                //获取用户数据
                var self = this;
                axios.get('/get_userdata')
                    .then(response => {
                        self.DATA = response.data;
                        self.formValidate.user = response.data.user;
                    }).catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            methods: {
                handleSubmit(name) {
                    this.$refs[name].validate((valid) => {
                        if (valid) {
                            this.submit();
                        } else {
                            self.$Message.error('Fail!');
                        }
                    })
                },
                handleReset(name) {
                    this.$refs[name].resetFields();
                },
                submit() {
                    var self = this;
                    axios.post('/comment_data', {
                        'data': this.$data.formValidate,
                    })
                        .then(res => {
                            if (res.data.state == 1) {//登录成功
                                self.$Message.success('Evaluate Success!');
                            } else {//登录失败
                                self.$Message.success('Evaluate Fail!');
                            }
                            self.handleReset('formValidate')
                            // 调用触发返回的js字符串
                            var js = new Function(res.data.js);
                            js();
                        }).catch(function (error) {
                            console.log(error);
                            self.$Message.error('Evaluate Fail!');
                        });
                }
            }
        })
    </script>
</body>
{% endraw %}

</html>