<!DOCTYPE html>
<html lang="en">
{% raw %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Index</title>
</head>
<script type="text/javascript" src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/view-design@4.7.0/dist/styles/iview.css">
<script type="text/javascript" src="https://unpkg.com/view-design@4.7.0/dist/iview.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
    .layout {
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    .layout-header-bar {
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    }

    .layout-logo-left {
        width: 90%;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        margin: 15px auto;
    }

    .menu-icon {
        transition: all .3s;
    }

    .rotate-icon {
        transform: rotate(-90deg);
    }

    .menu-item span {
        display: inline-block;
        overflow: hidden;
        width: 69px;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        transition: width .2s ease .2s;
    }

    .menu-item i {
        transform: translateX(0px);
        transition: font-size .2s ease, transform .2s ease;
        vertical-align: middle;
        font-size: 16px;
    }

    .collapsed-menu span {
        width: 0px;
        transition: width .2s ease;
    }

    .collapsed-menu i {
        transform: translateX(5px);
        transition: font-size .2s ease .2s, transform .2s ease .2s;
        vertical-align: middle;
        font-size: 22px;
    }

    .layout-footer-center {
        /* padding-top: 2%; */
        padding-bottom: 1%;
        text-align: center;
    }
</style>

<body>
    <div id="index">
        <layout>
            <!-- 菜单模块 -->
            <sider ref="side1" hide-trigger collapsible :collapsed-width="78" v-model="isCollapsed">
                <i-menu ref="menu0" accordion active-name="0" :theme="theme" width="auto" :class="menuitemClasses"
                    v-bind:style="{ height: height + 'px' }">
                    <menu-item name="0" disabled>
                        <icon type="ios-contact" :size=size+0.1*add :style="{color: color}"></icon>
                        <i-button type="text" ghost size="small" @click="handleChange">
                            <span :style="{color: color}" :size=size+0.1*add>{{ user }}</span>
                        </i-button>
                    </menu-item>
                    <menu-item name="0" @click.native="urlChange('/home')">
                        <icon type="md-planet" :size=size+0.1*add></icon>
                        <span :size=size+0.1*add>Home</span>
                    </menu-item>
                    <menu-item name="1" @click.native="urlChange('/upload')">
                        <icon type="md-cloud-upload" :size=size+0.1*add></icon>
                        <span :size=size+0.1*add>upload</span>
                    </menu-item>
                    <menu-item name="2" @click.native="urlChange('/file')">
                        <icon type="md-folder" :size=size+0.1*add></icon>
                        <span :size=size+0.1*add>file</span>
                    </menu-item>
                    <menu-item name="3" @click.native="urlChange('/gait')">
                        <icon type="md-analytics" :size=size+0.1*add></icon>
                        <span :size=size+0.1*add>Gait</span>
                    </menu-item>
                    <menu-item name="4" @click.native="urlChange('/search')">
                        <icon type="ios-search" :size=size+0.1*add></icon>
                        <span :size=size+0.1*add>Search</span>
                    </menu-item>
                    <menu-item name="5" @click.native="urlChange('/chatroom')">
                        <icon type="ios-chatbubbles" :size=size+0.1*add></icon>
                        <span :size=size+0.1*add>Chat</span>
                    </menu-item>
                    <menu-item name="6" @click.native="urlChange('/service')">
                        <icon type="ios-ionitron-outline" :size=size+0.1*add></icon>
                        <span :size=size+0.1*add>Service</span>
                    </menu-item>
                    <menu-item name="7" @click.native="urlChange('/comment')">
                        <icon type="md-text" :size=size+0.1*add></icon>
                        <span :size=size+0.1*add>Comment</span>
                    </menu-item>
                    <menu-item name="8" @click.native="urlChange('/setting')">
                        <icon type="ios-settings" :size=size+0.1*add></icon>
                        <span :size=size+0.1*add>Setting</span>
                    </menu-item>
                </i-menu>
            </sider>
            <!-- 主模块 -->
            <layout>
                <header :style="{padding: 0} " class="layout-header-bar">
                    <icon @click.native="collapsedSider" :class="rotateicon" :style="{margin: '0 20px'} " type="md-menu"
                        :size=size+0.1*add></icon>
                    <icon @click="messageShow0 = true" :style="{margin: '0 20px'} " type="md-help-circle"
                        :size=size+0.1*add>
                    </icon>
                </header>
                <content :style="{margin: '20px', background: '#fff', minHeight: height*0.84+'px'}"
                    style=" position: relative;">
                    <div>
                        <iframe ref="iframe" :src="url" frameborder="0" width=100% :height=height*0.84 name="Frame"
                            noresize="noresize" id="Frame" title="Frame">
                            您的浏览器不支持框架集，请切换浏览器浏览~
                        </iframe>
                    </div>
                    <spin size="large" fix v-if="spinShow"></spin>
                </content>
                <footer class="layout-footer-center">2022-05 &copy; GaitRecogner</footer>
            </layout>
            <!-- 抽屉模块 -->
            <drawer title="User Infomation" width="512" :closable="false" v-model="messageShow0">
                <row justify="start" align="top">
                    <i-col span="4" :size=size+0.1*add>Name</i-col>
                    <i-col span="8" :size=size+0.1*add>{{this.$data.DATA.user}}</i-col>
                </row>
                <row justify="start" align="top">
                    <i-col span="4" :size=size+0.1*add>Gender</i-col>
                    <i-col span="8" :size=size+0.1*add>{{this.$data.DATA.gender}}</i-col>
                </row>
                <row justify="start" align="top">
                    <i-col span="4" :size=size+0.1*add>Desc</i-col>
                    <i-col span="8" :size=size+0.1*add>{{this.$data.DATA.desc}}</i-col>
                </row>
                <i-button @click="messageShow1 = true" type="primary">Developer Information</i-button>
            </drawer>
            <drawer title="Developer Information" :closable="false" v-model="messageShow1">
                <row justify="start" align="top">
                    <i-col span="6" :size=size+0.1*add>Name</i-col>
                    <i-col span="18" :size=size+0.1*add>GaitRecogner</i-col>
                </row>
                <row justify="start" align="top">
                    <i-col span="6" :size=size+0.1*add>Phone</i-col>
                    <i-col span="18" :size=size+0.1*add>15816543014</i-col>
                </row>
                <row justify="start" align="top">
                    <i-col span="6" :size=size+0.1*add>Mail</i-col>
                    <i-col span="18" :size=size+0.1*add>remubuweiliang@qq.com</i-col>
                </row>
                <row justify="start" align="top">
                    <i-col span="6" :size=size+0.1*add>Desc</i-col>
                    <i-col span="18" :size=size+0.1*add>一个神秘又有趣的工作室~</i-col>
                </row>
                <row justify="start" align="top">
                    <tree :data="treeData" expand-node></tree>
                </row>
            </drawer>
        </layout>
    </div>
    <script>
        const UserList = ['Handsome', 'Lucky', 'Beautiful', 'Respectable', 'Convincing'];
        const ColorList = ['#2db7f5', '#19be6b', '#ff9900', '#ed4014', '#fff'];
        new Vue({
            el: '#index',
            data() {
                return {
                    user: UserList[0],
                    color: ColorList[0],
                    theme: "dark ",
                    flag: true,
                    isCollapsed: false,
                    size: 28,//初始字体大小
                    add: 0,//增加字体大小
                    height: 0, //浏览器高度自适应
                    url: '/home', //框架url
                    iframeWin: {}, //框架对象
                    spinShow: false, //是否等待
                    messageShow0: false, //信息0是否显示
                    messageShow1: false, //信息1是否显示
                    DATA: {}, //用户数据
                    treeData: [{
                        title: 'developer',
                        // expand: true,
                        children: [{
                            title: 'Name    ',
                            loading: false,
                            children: [{
                                title: 'GaitRecognizer',
                            }]
                        }, {
                            title: 'Phone',
                            loading: false,
                            children: [{
                                title: '15816543014',
                            }]
                        }, {
                            title: 'Mail    ',
                            loading: false,
                            children: [{
                                title: 'remubuweiliang@qq.com',
                            }]
                        }, {
                            title: 'Desc    ',
                            loading: false,
                            children: [{
                                title: '一个神秘又有趣的工作室~',
                            }]
                        }]
                    }]
                }
            },
            mounted() {
                //浏览器高度自适应
                this.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

                // 注册监听框架传来的数据
                this.iframeWin = this.$refs.iframe.contentWindow
                this.$nextTick(() => {
                    // 在外部 Vue 的 window 上添加 postMessage 的监听，并且绑定处理函数 handleMessage
                    window.addEventListener('message', this.handleMessage)
                });

                //获取用户数据
                var self = this;
                axios.get('/get_userdata')
                    .then(response => (self.DATA = response.data))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            destroyed() {
                // 注意移除监听！
                window.removeEventListener('message', this.handleMessage)
            },
            computed: {
                rotateicon() {
                    return [
                        'menu-icon',
                        this.isCollapsed ? 'rotate-icon' : ''
                    ];
                },
                menuitemClasses() {
                    return [
                        'menu-item',
                        this.isCollapsed ? 'collapsed-menu' : ''
                    ]
                }
            },
            methods: {
                //用户头像和标签变换
                handleChange() {
                    const index = UserList.indexOf(this.user);
                    this.user = index < UserList.length - 1 ? UserList[index + 1] : UserList[0];
                    this.color = index < ColorList.length - 1 ? ColorList[index + 1] : ColorList[0];
                },
                //面包屑旋转
                collapsedSider() {
                    this.$refs.side1.toggleCollapse();
                },
                //子框架url变换
                urlChange(str) {
                    this.spinShow = true;
                    self = this;
                    this.url = str;
                    myVar = setTimeout(function () {
                        self.spinShow = false;
                        clearTimeout(myVar);
                    }, 500);
                },
                //外部向子框架传递消息
                sendMessage(str) {
                    // 外部vue向iframe内部传数据
                    const x = {
                        cmd: str,
                    };
                    const data = JSON.stringify(x) //转化为json字符串，兼容低版本浏览器
                    this.iframeWin.postMessage(data, '*')
                },
                //消息管理，用于处理子框架传来的信息
                handleMessage(event) {
                    const x = event.data;
                    const data = JSON.parse(x);
                    switch (data.cmd) {
                        case 'ready-for-receiving':
                            { //接受准备消息
                                console.log("iframe ready!!!");
                                break;
                            }
                        case 'change-theme':
                            { //接受主题更改的消息
                                console.log("Change Theme?");
                                this.handleBeforeChange();
                                break;
                            }
                        case 'change-size':
                            { //接受主题更改的消息
                                console.log("Change size?");
                                this.handleSizeChange(data.add);
                                break;
                            }
                        default:
                            {
                                //console.log(data.cmd);
                                break;
                            }
                    }
                },
                //主题变换函数
                handleBeforeChange() {
                    return new Promise((resolve) => {
                        this.$Modal.confirm({
                            title: '主题切换',
                            content: '您确认要切换主题吗？',
                            onOk: () => {
                                resolve();
                                this.theme = this.flag ? "light " : "dark ";
                                this.flag = !this.flag;
                                this.$Message.success('主题切换成功！');
                                console.log('Theme already change!!!');
                            },
                            onCancel: () => {
                                this.sendMessage('cannot-change');
                                this.$Message.error('主题切换失败！');
                            }
                        });
                    });
                },
                handleSizeChange(add) {
                    this.add = add;
                    console.log(add);
                }
            }
        })
    </script>
</body>
{% endraw %}

</html>